*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*utilites*/
.container{
    width: 70%;
    margin: auto;
    position: relative;
}
.d-flex{
    display: flex;
}
.row{
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}
.col-4{
    width: calc((100% / 12) * 3.9);
    margin-bottom: 2rem;
}

/*site_header*/
#site_header{
    background-color: #FF6900;
    height: 4rem;
    padding-top: 1rem;
    color: white;
}
header .col-4 img {
    width: 50%;
}
header .row{
    position: relative;
    text-align: center;
}
header i{
    padding-right: 7px;
}
/*site_main*/

main .row{
    margin-top: 3rem;
}

main .col-4 img {
    width:100%;
    height:auto;
}
.heart{
    background-color: white;
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 10px;
    position: absolute;
    top: 10px;
    right: 0;
}
.discount{
    width:40px ;
    height: 20px;
    background-color: #FF0000;
    position: relative;
    bottom: 50px;
    text-align: center;
    font-size: 10px;
    color: white;
    padding: 5px;

}
.Note{
    width:60px ;
    height: 20px;
    background-color: #008000;
    position: relative;
    bottom: 70px;
    left: 45px;
    text-align: center;
    font-size: 10px;
    color: white;
    padding: 5px;
}
.note_2{
    background-color: #008000;
    color: white;
    position: absolute;
    left: 0;
    bottom:85px ;
    padding: 5px;
    width:60px ;
    height: 20px;
    text-align: center;
    font-size: 10px;
}
.position_1, .position_2, .position_3, .position_4, .position_5, .position_6{
    position: relative;
}
.position_1:hover img{
     visibility: hidden;
}
.position_1:hover .heart{
    color: #FF0000;
}



.position_1:hover{
    background-image: url(../img/1b.webp);
    background-size:contain;
    background-repeat: no-repeat;
    cursor: pointer;


}


.position_2:hover img{
    visibility: hidden;
}
.position_2:hover .heart{
   color: #FF0000;
}

.position_2:hover{
   background-image: url(../img/2b.webp);
   background-size:contain;
   background-repeat: no-repeat;
   cursor: pointer;


}

.position_3:hover img{
    visibility: hidden;
}
.position_3:hover .heart{
   color: #FF0000;
}



.position_3:hover{
   background-image: url(../img/3b.webp);
   background-size:contain;
   background-repeat: no-repeat;
   cursor: pointer;


}
.position_4:hover img{
    visibility: hidden;
}
.position_4:hover .heart{
   color: #FF0000;
}



.position_4:hover{
   background-image: url(../img/4b.webp);
   background-size:contain;
   background-repeat: no-repeat;
   cursor: pointer;
}

.position_5:hover img{
    visibility: hidden;
}
.position_5:hover .heart{
   color: #FF0000;
}

.position_5:hover{
   background-image: url(../img/5b.webp);
   background-size:contain;
   background-repeat: no-repeat;
   cursor: pointer;
}
.position_6:hover img{
    visibility: hidden;
}
.position_6:hover .heart{
   color: #FF0000;
}



.position_6:hover{
   background-image: url(../img/6b.webp);
   background-size:contain;
   background-repeat: no-repeat;
   cursor: pointer;


}
.info{
    margin-top: -2.5rem;
}
.info_2{
    margin-top: -1.4rem;
}

.red{
    color: #FF0000;
}
/*site_footer*/

#site_footer{
    background-color: #1A1A1A;
    height: 4rem;
    padding-top: 1rem;
    color: white;
    
}
footer h5{
    padding: 5px 0;
}
footer p{
    font-size: 13px;
    margin-bottom: 10px;
}
.menu_footer_right{
    position: absolute;
    right: 30px;
    bottom: 0;
}